extends layout

//- block errors
//-   if errors
//-     ul
//-       for error in errors
//-         li= error.msg

block form
  .form_block
    h2 Short Url App
    form(action="/short/add_url" method="POST")
      label(for="subpart") Subpart
      input(
        type="text"
        id="subpart"
        class="form-control form-control-lg"
        name="subpart"
      )
      label(for="from") Link to short
      input(
        type="text"
        id="from"
        class="form-control form-control-lg"
        name="from"
        value="http://hh.ru"
      )
      input(type="submit" value="Submit" class="btn btn-dark")

block table
  -data = data || {}
  .table_block.col-sm
    table(id="dtBasicExample" class="table table-bordered table-sm")
      thead
        tr
          th From
          th To
          th Date
      tbody
        each n in data
          tr
            td= n.from
            td
              a(href=n.to ) #{n.to}
            td= new Date(n.date).toLocaleString()