extends layout

block errors
  .alert.alert_block.alert-warning.alert-dismissible.fade.show(role="alert")
    | Ошибка какаясь
    button.close(type="button" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") ×

block form
  .form_block
    h2 Short Url App
    label(for="subpart") Subpart
    input(
      type="text"
      id="subpart"
      maxlength="30"
      class="form-control form-control-lg"
      name="subpart"
    )
    label(for="from") Link to short
    input(
      type="text"
      id="from"
      class="form-control form-control-lg"
      name="from"
      value="http://hh.ru"
    )
    input(type="submit" value="Short link" class="btn btn-dark" id="addSubmit")

block table
  -data = data || {}
  .table_block.col-sm
    table(id="dtLinksTable" class="table table-bordered table-sm")
      thead
        tr
          th From
          th To
          th Date
      tbody
        each n in data
          tr
            td= n.from
            td
              a(href=n.to ) #{n.to}
            td= new Date(n.date).toGMTString()